@model IEnumerable<DavidMazurBerek.Models.Persona>

@{
    ViewData["Title"] = "Lista de Personas";
}

<h2>Lista de Personas</h2>

<p>
    <a asp-action="Crear" class="btn btn-primary">Crear Nueva Persona</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Dirección 1</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persona in Model)
        {
            <tr>
                <td>@persona.Nombre</td>
                <td>@persona.Apellidos</td>
                <td>@persona.Direccion</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@persona.Id" class="btn btn-warning">Editar</a> |
                    <a asp-action="Eliminar" asp-route-id="@persona.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
